<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="consoleLogPattern"
              value="%date{ISO8601, UTC} [%thread] %highlight(%level{5}) %cyan(%logger{10}) - %msg%n%ex{full}%xEx{full}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
